@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

header {
  height: 4vw;
  padding: 0.5vw;
  width: 100%;
  box-shadow: 0 0 1vw 0 rgba(0,0,0,0.3);
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: 3vw auto auto;
  grid-column-gap: 0.5vw;
}

header img {
  height: 100%;
}

header #img-icon {
  border-radius: 0.7vw;
}

header #img-dl {
  justify-self: end;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

header h1 {
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2vw;
  color: #666;
}
